{% load static %}
<div id="prefooter"></div>
<footer class="footer">
  <div class="container">
  	<div class="row">

  	<div class="col-md-4">
    	<h2><img src="{% static '/images/PSfavico.png' %}" alt="Logo" height="60" width="60">Prevent Soft</h2>
    	
    </div>
    <div class="col-md-4">
    	<h4>Grupo 33</h4>
    	<ul>
    		<li>Error 404</li>
    		<li>Costa de Oro</li>
    		<li>Canelones</li>
    	</ul>
    </div>
    <div class="col-md-4">
    	<h4>Integrantes</h4>
    	<ul>
    		<li>Carol Yactayo</li>
    		<li>Diego Suárez</li>
    		<li>Fabricio Cigarán</li>
    		<li>Laura Rebollo</li>
    	</ul>

    </div>
    
  </div>
 </div>
</footer>