
<div class="col-md-12">
        <table id="tool_table" class="list_table">
            <thead>
                <tr>
                    <th>Linea</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Imagen</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

        <tbody>
        {% for tool in tools %} 
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ tool.name }}</td>
                <td>{{ tool.created_at }}</td>
                <td>{% if tool.image %}
                        <img src="{{ tool.image.url }}" alt="{{ tool.name }}" 
                        height="60" width="60">
                    {% endif %}</td>
                <td><a class="btn btn-success" href="{% url 'tool_edit' pk=tool.pk %}" role="button">
                        Editar</a></td>
                <td><a class="btn btn-danger" href="{% url 'tool_delete' pk=tool.pk %}" role="button" 
                       onclick="return confirm('Está seguro que desea eliminar este ítem? Los cambios no podrán revertirse.')">Eliminar</a></td>
            </tr>
        {% endfor %}  
        </tbody>

    </table>
</div>