{% extends 'base.html' %}
{% block content %}
  {% if user.is_authenticated and user.is_superuser %}
    <div class="col-md-6 offset-md-1">
 <div class="card bg-light mb-6">
    <div class="card-header">
    <h2>Nuevo Usuario</h2>
    </div>
    <!-- Form -->
    <div class="card-body">
    <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username }}
      <small class="form-text text-muted">
      {{ form.username.help_text }}</small>
    </div>
    <div class="form-group">
      {{ form.email.label_tag }}
      {{ form.email }}
      <small class="form-text text-muted">
      {{ form.email.help_text }}</small>
    </div>  
    <div class="form-check">
      {{ form.is_superuser }}
      {{ form.is_superuser.label_tag }}
      <small class="form-text text-muted">
      {{ form.is_superuser.help_text }}</small>
    </div>  
    <div class="form-group">
      {{ form.password.label_tag }}
      <div class="input-group mb-3">
      {{ form.password }}
       <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2"><i class="fa fa-eye" id="show"></i></span>
       </div>
      </div>
      <small class="form-text text-muted">
      {{ form.password.help_text }}</small>
    </div>  
   
    <div class="form-group">
      <label for="id_password2">Confirmar Clave:</label>
      <div class="input-group mb-3">
      <input type="password" name="password2" class="form-control" placeholder="Confirme su clave" 
      onblur="checkPass(this)" required id="id_password2">
      <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2"><i class="fa fa-eye" id="show_2"></i></span>
  </div>
</div>
</div>
    
    <button type="submit" class="btn btn-primary">Registro</button>
    </form>
    </div>
  </div>
</div>
  {% else %}
    <div class="col-md-8">
    <p>Debe acceder con su nombre de usuario y contraseña para ver este contenido</p>
    <a href="{% url 'index' %}" class="btn btn-primary">Ir al Login</a>
    </div>        
  {% endif %}
{% endblock %}